h1, h2, h3, h4, h5, h6, p {
  font-family:gilroy;
}
h2 {
  font-size:28px;
}
.content-container {
  padding:20px;
  box-shadow:var(--heavyBoxShadow);
  width:300px;
  margin:0 auto;
  border-radius:15px;
  background-color:white;
}
.time-image {
  background-image:url('../images/time.png');
}
.calendar-image {
  background-image:url('../images/calendar.png')
}
.info-image {
  background-image:url('../images/info.png');
}