.connection-container {
  padding: 20px;
}
.user-connection-container {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:30px;
  border-radius:10px;
  box-shadow:0 0 7px grey;
  color:white;
  margin:20px 0;
  transition: all 0.2s ease-in-out;
}
.user-connection-container:hover {
  transform: scale(1.02);
  box-shadow: var(--heavyBoxShadow);
}
.user-connection-container.doctor button {
  color:#0a4063;
}
.user-connection-container.patient button {
  color:#6b9560;
}
.user-connection-container h2 {
  margin-block-end:0px;
  margin-block-start:0px;
  font-weight:700;
}
.user-connection-container.doctor {
  background-color:#0a4063;
}
.user-connection-container.patient {
  background-color:#6b9560;
}

.connection-button:hover {
  cursor: pointer;
}