.connection-container {
  padding: 20px;
}
.user-connection-container {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  padding:30px;
  border-radius:10px;
  box-shadow:var(--heavyBoxShadow);
  color:white;
  margin:20px 0;
  transition: all 0.2s ease-in-out;
}
.user-connection-container button {
  border-radius:20px;
  background-color:white;
  padding:5px 15px;
  text-transform:uppercase;
  font-family:Gilroy;
  display:flex;
  align-items:center;
  justify-content:center;
  border:none;
  margin-block-end:none;
  font-size:18px;
  cursor:pointer;
  transition:all 0.2s ease-in-out;
  border:1px solid transparent;
}
.user-connection-container button:hover {
  border:1px solid white
}
.user-connection-container.doctor button:hover {
  background-color:var(--darkBlue);
  color:white;
}
.user-connection-container.patient button:hover {
  background-color:var(--darkGreen);
  color:white;
}
.user-connection-container:hover {
  transform: scale(1.02);
  box-shadow: var(--heavyBoxShadow);
}
.user-connection-container.doctor button {
  color: var(--darkBlue);
}
.user-connection-container.patient button {
  color:var(--darkGreen);
}
.user-connection-container h2 {
  margin-block-end:0px;
  margin-block-start:0px;
  font-weight:700;
}
.user-connection-container.doctor {
  background-color:var(--darkBlue);
}
.user-connection-container.patient {
  background-color:var(--darkGreen);
}

@media all and (min-width:980px) and (orientation:landscape) {
  .connection-container {
    display:flex;
    width:900px;
    margin:auto;
    justify-content:space-between;
  }
  .user-connection-container {
    width:50%;
    margin:20px;
  }
}

.connection-button:hover {
  cursor: pointer;
}