.search-prescriptions { 
    margin:10px 0px 10px 5px;
    border-radius:15px 15px 15px 15px;
    width:200px;
    height:30px;
}
.search-background {
    background-color: var(--darkBlue);
    border-radius:15px 15px 0 0;
    margin-left:15px;
    margin-right: 20px;
    width:350px;
    height:auto;
}
.list-all-prescriptions {
  border-style: ridge;
  margin-left:15px;
  margin-right: 20px;
  width:350px;
}

@media screen and (min-width: 750px) {

  .search-prescriptions { 
    margin:10px 0px 10px 5px;
    border-radius:15px 15px 15px 15px;
    width:200px;
    height:30px;
  }
  .search-background {
    background-color: var(--darkBlue);
    border-radius:15px 15px 0 0;
    width:1400px;
    height:60px;
    margin:5px 0px 0px 10px;
  }
  .list-all-prescriptions {
  width:1400px;
  margin:5px 0px 0px 10px;
  }

}