footer {
  display: flex;
  width: calc(100% - 40px);
  height: 8vh;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 20px;
  background-color: var(--darkBlue);
  color: white;
  position:absolute;
}

footer p {
  text-align: center;
}
