footer {
    align-items:center;
    justify-content:space-between;
    padding:20px;
    background-color:#eef9fe;
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    }
    footer p {
    font-weight:700;
    color:#0a4063;
    text-align: center;
    font-family:gilroy;
    text-decoration:none;
    font-size:18px;
    }
    