header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:20px;
  background-color:var(--lightBlue);
  position: absolute;
  top: 0;
  width:calc(100% - 40px);
  z-index:999999999;
}
header img {
  width:100px;
  height:100px;
}
header nav ul {
  display:inline-block;
  padding: 0;
}
header nav ul li {
  display:inline;
  margin:0 10px;
}
header nav ul li a {
  font-weight:700;
  color:var(--darkBlue);
  font-family:gilroy;
  text-decoration:none;
  font-size:18px;
}
.header-new-prescription {
  display:inline-block;
  height:20px;
  width:20px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('../images/add-dark-green.png');
}
.login-logout-nav-element a {
  color:#424242;
}
.create-button-header {
  background-color: var(--lightGreen);
  color: var(--darkGreen);
  border: 1px solid var(--darkGreen);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  width:150px;
  height:30px;
}
.new-prescription-container {
  display:inline-block;
}
.header-new-prescription {
  margin-right:10px;
}
.navbar-bottom-header {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -20px;
  background-color:var(--darkBlue);
}
.navbar-bottom-header a {
  color:var(--lightBlue);
}
.logo-top-header {
  width:100%;
  text-align:center;
  margin-bottom:50px;
}