body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --darkBlue: #0a4063;
  --lightBlue: #eef9fe;
  --darkGreen:#6b9560;
  --lightGreen:#b3ddca;
  --lightGrey: #efefef;
  --lightGreyText: #7a7a7a;
  --heavyBoxShadow:1px 1px 6px rgba(0,0,0,.1);
  --lightBoxShadow: 0 0 15px rgba(0,0,0,.1);
}

.main-container {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}