#login-title {
  margin: 10px 0 20px 0;
  text-transform:uppercase;
}

.login-form {
  width: 290px;
}

.login-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--darkBlue);
}

.login-form button {
  width: 100%;
  margin-top: 10px;
  color: white;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
  border:1px solid transparent;
}
.login-form button:hover {
  background-color:white;
  color:var(--darkBlue);
  border:1px solid var(--darkBlue);
}

#signin-patient {
  background-color: var(--darkGreen);
}

#signin-doctor {
  background-color: var(--darkBlue);
}