h2 {
  text-align:center;
  width:100%;
  background-color:white;
  height:50px;
  display:flex;
  justify-content:center;
}
.newPrescription-ligne{
  display: flex;
}
.NewPrescription-drug-container{
  display: flex;
  flex-direction: column;
}

.NewPrescription-presciption-container{
  display: flex;
  flex-direction: column;
}
.title-blue-background {
  background-color:var(--lightBlue);
  width:calc(100% + 40px);
  margin-left:-20px;
  padding:10px 0;
  margin-bottom:20px;
  margin-top:20px;
}
.title-blue-background p {
  margin-block-end:0px;
  margin-block-start:0px;
  margin-left:20px;
}
.newPrescription-ligne {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  margin:20px 0px;
}
.renewable-container {
  flex-direction:column;
  align-items:flex-start;
}
#renew-frequency {
  opacity:0;
  display:none;
  transition:all 0.2s ease-in-out;
}
#renew-frequency.visible {
  opacity:1;
  display:flex; 
  align-items:center;
}
.civility-fn-ln-container {
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}
#renew-frequency.visible input {
  width:50px;
}