.single-prescription-container h2 {
  text-align:center;
  font-size:20px;
}
.single-prescription-container {
  background-color:var(--lightBlue);
}
.single-prescription-container .back-to-all {
  background-color:white;
  width:100%;
  display:flex;
  padding:5px 10px;
  align-items:center;
  justify-content:flex-start;
}
